* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  height: 100%;
}

html {
  height: 100%;
  font-size: 12px;
}
img {
  width: 100%;
}

.header-nav,
.footer-nav {
  display: flex;
  gap: 1rem;
}

.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  background-color: white;
  height: 10vh;
  min-height: 10vh;
}

.logo {
  margin-right: 2rem;
  width: 10rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 2rem;
}

.nav-menu a {
  font-size: 1.3rem;
  color: gray;
}

.nav-menu span {
  background-color: orange;
  color: white;
  border-radius: 50px;
  padding: 5px 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
}

.link-active {
  color: black !important;
}

.nav-link {
  display: inline-block;
  width: 6rem;
}

a {
  text-decoration: none;
}

#products {
  background-color: lightcyan;
  padding: 0 3rem 2rem 3rem;
}

.cards {
  width: 20%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  /* text-align: center; */
}

.success-message {
  color: green;
  text-align: center;
  font-weight: bolder;
  margin-top: 1rem;
}

.cards-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cards-title-outer {
  height: 2.5rem;
}

.cards-title {
  font-weight: bold;
  margin-top: 1rem;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
}

.cards-title:hover {
  color: cyan;
}

.price-title {
  color: lightslategray;
}

.price {
  font-weight: bold;
  font-size: 1rem;
}

.cards-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 200px;
  object-fit: contain;
  padding: 0.5rem;
}

.cards-info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-description {
  /* max-height: 20px; */
  margin-top: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cart-img {
  width: 1.5rem;
}

.products-title {
  font-size: 2rem;
}

.cards-rating {
  width: 1.5rem;
  height: 1rem;
}

.rating-box {
  display: flex;
  gap: 0.2rem;
}

.cards:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

#product-bg {
  background-color: lightcyan;
  display: none;
  min-height: 10rem;
}

#product {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  background-color: lightcyan;
  flex-wrap: wrap;
  min-height: 80vh;
}

#single-product {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  background-color: lightcyan;
  flex-wrap: wrap;
  min-height: 80vh;
  position: relative;
}

#product h2 {
  font-size: 2rem;
}

#products-all {
  display: flex;
  min-height: 80vh;
  background-color: lightcyan;
  width: 50vw;
}

.lds-dual-ring {
  display: inline-block;
  margin: auto;
  height: 80px;
}

.lds-dual-ring:after {
  /* margin: auto; */
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: black gray gray gray;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  /* height: 80vh; */
}

.no-product {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

a {
  color: black;
}
a:active {
  font-weight: bold;
}

.edit-section {
  padding: 1rem;
  background-color: lightcyan;
  width: 50%;
  margin: 0 0rem 0 1rem;
}

.edit-section h2 {
  text-align: center;
  font-size: 2rem;
}

.edit-form {
  /* position: sticky;
  top: 3rem; */
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.edit-form label {
  font-size: 1.4rem;
}

.error-message {
  border: 1px solid red !important;
}

.edit-form input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  margin: 1rem 0;
  width: 100%;
}

.edit-form textarea {
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  margin: 1rem 0;
  font-family: inherit;
  line-height: 1.5rem;
  border-radius: 5px;
}

.edit-form button {
  /* text-align: center; */
  margin: 0 25%;
  width: 50%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.submit-button {
  background-image: linear-gradient(to right, #12d8fa, #1fa2ff);
  cursor: pointer;
}

.disabled-button {
  background-color: lightgray;
  cursor: not-allowed;
}

.edit-form button:hover {
  opacity: 0.8;
}

.field-error {
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: red;
}

.popupbg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: contrast(40%);
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  padding: 5rem;
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  line-height: 2rem;
  color: black;
}

.popup-button {
  background-color: white;
  width: 6rem;
  padding: 1rem;
  margin: 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.popup-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.red-border {
  border: 2px solid red;
  color: red;
  font-size: 1rem;
}

.green-border {
  border: 2px solid green;
  color: green;
  font-size: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#product h2 {
  font-size: 2rem;
}

.product-category {
  color: lightgray;
  text-transform: capitalize;
}

.product-info .rating-box {
  padding-top: 1rem;
}

.edit-product-btn {
  padding: 0.5rem;
  background-image: linear-gradient(to right, #ec9f05, #ff4e00);
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  margin-top: 1rem;
  width: 100%;
}

.edit-product-btn:hover {
  opacity: 0.8;
}
.addToCart {
  padding: 1rem;
  background-image: linear-gradient(to right, #12d8fa, #1fa2ff);
  border: 0;
  border-radius: 10px;
  color: white;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.cart-btn {
  padding: 1rem;
  border: 2px solid orange;
  border-radius: 10px;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: orange;
  background-color: white;
}

.product-info button:hover {
  opacity: 0.8;
}

.product-description {
  margin-top: 1rem;
  font-size: 1rem;
}

.product-price {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  /* color: aqua; */
}

.product-image {
  width: 35rem;
  height: 30rem;
}

.products-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

#product,
.cart-container {
  background-color: lightcyan;
}

.cart-container {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-around;
}

.quantity-input {
  width: 50px;
  font-size: 1rem;
  padding: 5px 5px;
  height: 100%;
}

.cart-item-quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quantity-options button {
  display: inline-block;
  border: 1px solid black;
  width: 25px;
  height: 100%;
  border-radius: 100px;
  font-size: 1;
  background-color: white;
  cursor: pointer;
}
.cart-header {
  font-size: 2rem;
  font-weight: bold;
}

.quantity-options {
  height: 25px;
  display: flex;
  gap: 0.4rem;
}

.product-container {
  display: flex;
  gap: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  width: 100%;
}

.cart {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  /* margin: auto; */
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  gap: 1rem;
}

.cart-break {
  height: 1px;
  width: 100%;
  background-color: black;
}

.cart-item-image {
  height: 100px;
  width: 100px;
}
.cart-item-title {
  /* font-weight: bold; */
  font-size: 1.3rem;
}

.cart-item-price {
  font-weight: bold;
  margin-top: 0.7rem;
}

.cart-item-info {
  /* margin-right: 1rem; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.summary {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  min-width: 25%;
}

.summary-heading {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.summary-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.remove-item {
  border: 1px solid gray;
  font-family: inherit;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 5px;
}

.remove-item:hover {
  color: red;
  border-color: red;
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobile-nav {
  display: none;
}

.notification {
  position: absolute;
  top: 0;
  background-color: black;
  color: white;
  right: 0;
  padding: 1rem;
  margin: 0.5rem 1rem;
  border-radius: 5px;
  border-left: 5px solid orange;
}

.elementToFadeInAndOut {
  opacity: 1;
  animation: fade 3s linear;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media all and (max-width: 1640px) {
  .cards {
    width: 30%;
  }
  .product-image {
    max-width: 300px;
  }
}

@media all and (max-width: 950px) {
  .cards {
    width: 40%;
  }

  .header {
    height: auto;
  }

  /* #products-all {
    flex-direction: column;
  } */
}

@media all and (max-width: 850px) {
  .cards {
    width: 100%;
  }
  #product {
    flex-direction: column;
  }

  .cart-container {
    flex-direction: column;
  }
  .cart {
    width: 100%;
  }
  .summary {
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  .cards {
    width: 100%;
  }

  .logo {
    width: 50vw;
    height: 5rem;
    margin-right: 0;
  }

  .header {
    width: 100%;
  }

  .header-nav {
    display: none;
  }

  .footer-nav {
    flex-direction: column;
    justify-content: center;
  }

  footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    padding-top: 0;
  }

  .lds-dual-ring:after {
    width: 40px;
    height: 40px;
  }

  .site-container {
    font-size: 0.5rem;
  }

  .container {
    flex-direction: column;
    /* height: 100%; */
  }

  #products-all {
    width: 100%;
  }

  .edit-section {
    width: 100%;
    margin: 1rem 0 0 0;
  }

  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product-image {
    width: 100%;
    height: 300px;
  }

  .nav-menu {
    display: none;
  }

  .mobile-nav {
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    /* gap: 2rem; */
  }

  .mobile-nav img {
    width: 5vw;
    padding: 1rem;
    box-sizing: content-box;
  }

  .mobile-nav img:hover {
    background-color: lightgray;
    border-radius: 2rem;
  }

  .cart-item-quantity {
    flex-direction: column;
  }

  .popup {
    margin: 0 1rem;
  }
}

footer {
  background-color: white;
}

.error {
  padding: 5rem;
  background-color: white;
  border-radius: 5px;
}

.container {
  display: flex;
}

footer a {
  font-size: 1.3rem;
  color: gray;
}
